html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Black Han Sans', sans-serif;

  background-image: url("images/bg5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vh;
  height: 40vh;
  /* border:  2px dashed black; */
  /* margin-top: 150px; */
  padding-top: 150px;
  padding-left: 120px;
}

div {
  display: flex;
  margin: 0 20px;
  /* text-align: center; */
}


/* .container:before {
  position: relative;

  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(202, 197, 197, 0.534); 
} */


form.box {
  width: 500px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  text-align: center;
}

form.box h1 {
  font-weight: normal;
}

form.box input {
  border: none;
}

form.box input[type=text] {
  background-color: rgba(255, 255, 255, 0.308);
  width: 340px;
  padding: 10px;
  border-radius: 25px 0 0 25px;
}

form.box input[type=submit] {
  width: 90px;
  background-color: rgba(105, 115, 146, 0.616);
  padding: 10px;
  border-radius: 0 25px 25px 0;
  color: white;
  margin-left: -6px;
}

form.box input[type=text]::placeholder {
  color: white;
}
